.topbarContainer {
    height: 60px;
    width: 100%;
    background-color: rgba(240, 181, 105, 0.788);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.topbarLeft {
    flex: 3;
}
.moreProfile:focus {
    background-color: rgba(228, 142, 30, 0);
    border-color: rgba(240, 181, 105, 0);
    color: rgb(49, 49, 212);
}

.moreProfile {
    color: rgb(49, 49, 212);
}

.moreProfile.dropdown-toggle::after {
    display: inline-block;
}

.moreProfile {
    background-color: rgba(228, 142, 30, 0);
    border-color: rgba(240, 181, 105, 0);
    border-radius: 30%;
}

.desc{
    resize: none;
}
.moreProfile:hover {
    background-color: rgba(228, 142, 30, 0);
    border-color: rgba(240, 181, 105, 0);
}

.show>.moreProfile.dropdown-toggle {
    background-color: rgba(228, 142, 30, 0);
    border-color: rgba(240, 181, 105, 0);
}

.show>.moreProfile.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, 0);
}

.logo {
    cursor: pointer;
    margin-left: 20px;
    overflow: hidden;
}

.logo img {
    width: min(20vw, 200px);
    height: min(20vw, 60px);
}

.topbarCenter {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 80%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(49, 49, 212);
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profileLink {
    color: rgb(49, 49, 212);
}

.profileLink:hover {
    text-decoration: none;
    color: rgb(49, 49, 212);
}

.autocom-box .userSearch {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 6px;
    cursor: default;
  }
.userSearch:hover {
      background-color: wheat;
  }

  .autocom-box {
    background-color: white;
    position: absolute;
    top: 45px;
    width: 30%;
    height: auto;
    margin-left: 30px;
 }
 .userSearchImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
 }
 .userSearchLink {
     text-decoration: none;
     color: black;
 }
 .userSearchLink:hover {
    text-decoration: none;
}

  